
{% extends "base.html" %}

{% block dashcontent %}

{% if invalid %}
<div class="urgentmsg" style="padding-top: 0.5em; padding-bottom: 0.5em;">
Form contained errors.  Please correct and try again.
</div>
<br>
{% endif %}


<h2><img src="/site_media/icons/telephone.png" border="0"> Edit SIP Endpoint </h2>

<p><img src="/site_media/icons/tux.png" border="0"> Don't forget to modify the settings in the SIP endpoint's configuration to match these.

<form method="post" action="/edit_endpoint/{{ endpoint.id }}/">
<table>

<tr><th><a href="javascript:alert('{{ form.userid.help_text}}');">User ID: </a></th><td>{{ form.userid }} <i>(eg, 101)</i></td> </tr>

<tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>


<tr><th><a href="javascript:alert('{{ form.userprof.help_text}}');">{{ form.userprof.label }}:</a></th><td>

<SELECT NAME="userprof">
<OPTION VALUE="-1">None</OPTION>
{% for userprof in userprofs %}
{% ifequal userprof endpoint.userprofile %}
<OPTION VALUE="{{ userprof.user.id }}" selected>{{ userprof.user.email }}</OPTION>
{% else %}
<OPTION VALUE="{{ userprof.user.id }}">{{ userprof.user.email }}</OPTION>
{% endifequal %}
{% endfor %}
</SELECT>
</td></tr>


<tr>
<td></td>
<td><input type="submit" value="Update"></td>
</tr>



</table>




</form>

{% endblock %}