
{% extends "base.html" %}

{% block dashcontent %}

{% if invalid %}
<div class="urgentmsg" style="padding-top: 0.5em; padding-bottom: 0.5em;">
Form contained errors.  Please correct and try again.
</div>
<br>
{% endif %}


<form method="post" action="/edit_ivr/{{ ivr.id }}/">
<table>
{{ form }}

<tr><th style="padding-top: 1em; padding-bottom: 1em">Action XML</th>
<td style="padding-top: 1em; padding-bottom: 1em">
<div style="border: 1px dashed black; padding: .5em;">
<font color="grey">
{{ action_xml|escape }}
</font>
</div>
</td>

<tr>
<td></td>
<td><input type="submit" value="Update"></td>
</tr>



</table>




</form>

{% endblock %}