

<br><br>
<table cellpadding="0" width="100%" cellspacing="0" border="0" style="padding-top: 1em; border-top: 1px solid gray"> 
<tr> 
 
<td valign="bottom"><a style="text-decoration: none" href="http://www.wikipbx.org">WikiPBX v. 0.8</a> &nbsp; <span>&copy;2007-{% now "Y" %} <a style="text-decoration: none" href="http://www.branchcut.com">Branch Cut</a></span></td> 

<td align="right" valign="bottom"> <span>Powered by <a href="http://www.freeswitch.org">FreeSWITCH</a> & <a href="http://www.djangoproject.com">Django</a> </span>  </td> </tr> </table> </body>
