
<div style="width: 75%">

<ul> 
<li><b>Open Source under Mozilla Public License <a href="http://www.wikipbx.org">(download source)</a> </b></br>
<li><b>Manage dialplan extensions</b></br>
<li><b>Manage SIP endpoints</b><br> 
<li><b>Manage PSTN incoming and outgoing gateways</b><br> 
<li><b> Web Dialout</b><br> 
<li><b> Call history</b><br> 
<li><b> View/Hangup live calls</b><br>
<li><b> Manage soundclips</b><br>  
<li><b> IVR Management</b><br> 
<li><b>Configuration managed by Web UI is stored in DB</b><br>
<li><b>Configuration from DB layered on top of what is in XML files </b><br> 
</ul>
</div>
